.disabledRow {
    background-color: initial;
    filter: grayscale() blur(0.8px);
    cursor: default;
}

.disabledRow:hover {
    background-color: initial;
    filter: grayscale() blur(1px);
    cursor: default;
}

.light-transparent {
    background-color: rgba(240, 240, 240, 0.90);
    color: rgb(50, 50, 50);
}

.dark-transparent {
    background-color: rgba(50, 50, 50, 0.90);
    color: rgb(240, 240, 240);
}

.light-solid {
    background-color: rgb(240, 240, 240);
    color: rgb(50, 50, 50);
}

.dark-solid {
    background-color: rgb(50, 50, 50);
    color: rgb(240, 240, 240);
}

.raised {
    box-shadow: 0 1px 12px 0px rgba(0, 0, 0, 0.5);
}

.flat {
    box-shadow: none;
}

.menuRow {
    padding: 0.8rem 1.2rem;
    display: flex;
    align-content: center;
    justify-content: flex-start;
}

.lightMenuRow:hover {
    background-color: rgb(200, 200, 200, 1);
    color: black;
}

.darkMenuRow:hover {
    background-color: rgb(240, 240, 240, 1);
    color: #323232;
}